terraform {
  backend "s3" {
    bucket         = "replace-with-your-terraform-state-bucket"
    key            = "terraform-playground/dev/terraform.tfstate"
    region         = "eu-west-2"
    dynamodb_table = "replace-with-your-terraform-lock-table"
    encrypt        = true
  }
}
